{% extends 'base_front.html.twig' %}

{% block title %}Cours{% endblock %}


{% block content %}
    {% block body %}
    <div class="container-fluid d-flex justify-content-center">
        <div class="row mt-5">
            {% for course in courses %}
                <div class="col-sm-4" style="margin-bottom: 22px;">
                    <div class="card"> <img src="{{asset('book.jpg') }}" class="card-img-top" width="100%" height="130px">
                        <div class="card-body pt-0 px-0">
                            <div class="d-flex flex-row justify-content-between mb-0 px-3"> <small class="text-muted mt-1">Name</small>
                                <h6 style="color: black"> {{ course.name }} </h6>
                            </div>
                            <hr class="mt-2 mx-3">
                            <div class="d-flex flex-row justify-content-between px-3 pb-4">
                                <div class="d-flex flex-column"><span class="text-muted">description</span></div>
                                <div class="d-flex flex-column">
                                    <h5 style="color: black" class="mb-0">{{ course.description }}</h5>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between p-3 mid">
                                <div class="d-flex flex-column"><small class="text-muted mb-1" style="color: black">Sujet</small>
                                    <div class="d-flex flex-column ml-1"><small class="ghj" style="color: black">  {{ course.idSubject.idSubject }}</small></div>

                                </div>

                            </div>




                            <div class="mx-3 mt-3 mb-2"><button type="button" class="btn btn-danger btn-block"> <a target="_blank" href=" {{ asset('uploads/' ~ course.courseFile) }}">Télécharger</a></button></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
{% endblock %}