{% extends 'base_front.html.twig' %}

{% block title %}Modifier commentaire{% endblock %}
{% block content %}
    {% block body %}
        <h1>Modifier commentaire</h1>

        <style>
            .nour{
                width: 600px;
                height: 100px;
            }
        </style>
        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
        {{ form_row(form.content,{'attr': {'class':'nour'}}) }}
        <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">{{ button_label|default('Modifier') }}</button>
        {{ form_end(form) }}
        <br><br>
        <div  style="display: flex; width: 100%;justify-content: center">
        <div style="margin-right: 20px">
            <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                <a style="color: white" href="{{ path('comment_indexUser', {'idForum': comment.idForum.id}) }}">Retourner</a>
            </button>
        </div>
        <div style="margin-right: 20px">
        {{ include('comment/_delete_form.html.twig') }}
        </div>
        </div>
    {% endblock %}
{% endblock %}