{% extends 'base.html.twig' %}

{% block title %}Liste activités{% endblock %}
{% block content %}
{% block body %}
    <h1>Liste des activités</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date limite</th>
                <th>Statut</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.name }}</td>
                <td>{{ activity.deadline ? activity.deadline|date('Y-m-d') : '' }}</td>
                <td>{{ activity.status }}</td>
                <td>
                    <a href="{{ path('activity_show', {'id': activity.id}) }}">Ouvrir</a>
                    <a href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a>
                    <a href="{{ path('work_done_new' ,{'idActivity': activity.id}) }}">Ajouter un travail </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune ligne trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('activity_new') }}">Ajouter une nouvelle activité</a>
{% endblock %}
{% endblock %}
