{% extends 'base.html.twig' %}

{% block title %}Liste activités{% endblock %}
{% block content %}
{% block body %}
    <h1>Liste des activités</h1>
    <h5 style="float: right">Nombre des activités disponibles : <b>{{ nbr }}</b></h5><br>
<div  style="display: flex; width: 0%;justify-content: left;float: right">
    {{ include('activity/_refresh_form.html.twig') }}
    <p>   </p>
    {{ form_start(form) }}
    {{ form_row(form.trier,{'attr': {'class': 'btn btn-primary','style':'background-color: #1aa179'}}) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date limite</th>
                <th>Statut</th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>


                <td><a href="/uploads/{{ activity.workTodo }}" style="color: green" target="_blank">{{ activity.name }}.pdf</a></td>
                <td>{{ activity.deadline ? activity.deadline|date('Y-m-d') : '' }}</td>
                <td>{{ activity.status }}</td>
                <td>
                    {{ include('activity/_details_form.html.twig') }}
                </td>
                <td>
                    {{ include('activity/_edit_form.html.twig') }}
                </td>
                <td>
                    {{ include('work_done/_list_form.html.twig') }}
                </td>
                <td>
                    {{ include('activity/_archive_form.html.twig') }}
                </td>
            </tr>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune ligne trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div  style="display: flex; width: 100%;justify-content: center">
    <!--<a style="margin-right: 20px" href="{{ path('activity_new') }}">Ajouter une nouvelle activité</a>-->
       <div style="margin-right: 20px">
           {{ include('activity/_add_form.html.twig') }}
       </div>
        <div style="margin-right: 20px">
            {{ include('activity/_archivedList_form.html.twig') }}
        </div>
        <div style="margin-right: 20px">
            {{ include('forum/_list_form.html.twig') }}
        </div>
    </div>

{% endblock %}
{% endblock %}
