{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}
{% block content %}
    {% block head %}
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">


    {% endblock %}
{% block body %}

    <h1>Department index</h1>

    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {% for message in app.flashes('mercuryseries_flashy_notification') %}
        <script id="flashy-template" type="text/template">
            <div class="flashy flashy--{{ message.type }}">
                <a href="#" class="flashy__body" target="_blank"></a>
            </div>
        </script>

        <script>
            flashy("{{ message.message }}", "{{ message.link }}");
        </script>
    {% endfor %}

    <a href="{{ path('department_index') }}">back to list</a>
    <div>

        <div>
            <input type="text" id="1" name="depname" class="form-control" placeholder="Enter Department Name">
        </div>
        <!-- /input-group -->
    </div>
    <ul class="nav" id="side-menu">
        <li>
            <button type="submit" value="submit" name="submit" id="submit">Submit</button>
        </li>
    </ul>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Department</th>
                <th>owner name </th>
                <!--<th>CreatedDate</th>
                <th>LastUpdatedDate</th>
                <th>ArchivedDate</th>
                <th>Status</th>-->
                <th>Specialties</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.name }}</td>
                <td>{{ department.ownerid }}</td>
                <!--<td>{{ department.ownerlastname }}</td>
                <td>{{ department.createdDate ? department.createdDate|date('Y-m-d') : '' }}</td>
                <td>{{ department.lastUpdatedDate ? department.lastUpdatedDate|date('Y-m-d') : '' }}</td>
                <td>{{ department.archivedDate ? department.archivedDate|date('Y-m-d') : '' }}</td>
                <td>{{ department.status }}</td>-->
                <td>{{ department.specialties }}</td>
                <td>
                    <a href="{{ path('department_show', {'id': department.id}) }}">show</a>
                    <a href="{{ path('department_edit', {'id': department.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('department_new') }}">Create new</a>
    <br>
    {# <a href="{{ path('exportAction') }}">Export CSV</a> #}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    </script>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#1").keyup(function() {
                var $twenties=0;
                var $thirties=0;
                var $fourties=0;
                var $plus=0;
                $.ajax({
                    type: "GET",
                    url: "{{ path('stat') }}",
                    data: {
                        'q' : value
                    },
                    success : function (retour) {
                        $.each(JSON.parse(retour), function (i , obj) {
                            $twenties++;
                            $thirties++;
                            $fourties++;
                            $plus++;
                            alert("hazebi");
                        });
                    }
                });
            });
        });
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['20\'s', $twenties ],
                ['30\'s', $thirties ],
                ['40\'s', $fourties ],
                ['50+', $plus ],

            ]);

            var options = {
                title: 'Users age stats'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }

    </script>

{% endblock %}
{% endblock %}
