{% extends 'base.html.twig' %}

{% block title %}Liste travail rendu{% endblock %}
{% block content %}
{% block body %}
    <h1>Liste des travails rendus</h1>
    <h5 style="float: right">Nombre des travails notés : <b>{{ nbrN }}</b></h5><br><p></p>
    <h5 style="float: right">Nombre des travails rendus : <b>{{ nbr }}</b></h5>

    <table class="table">
        <thead>
            <tr>
                <th>Travail rendu</th>
                <th>Statut</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for work_done in work_dones %}
            <tr>
                <td><a href="{{asset('/uploads/brochures/') ~ work_done.workFile }}" style="color: green" target="_blank">{{ work_done.workFile }}</a></td>

                <td>{{ work_done.status }}</td>
                <td>
                    {{ include('work_done/_details_form.html.twig') }}
                </td>
                <td>
                    {{ include('work_done/_edit_form.html.twig') }}
                </td>
                <td>
                    {% if work_done.status =="ScoreAdded" %}
                        <button disabled class="btn btn-primary" style="background-color: #1aa179">
                        <a style="color: white">Noter </a>
                        </button>
                    {% endif %}
                    {% if work_done.status =="Available" %}
                        {{ include('work_done/_score_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucun travail déposé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div  style="display: flex; width: 100%;justify-content: center">
        <div style="margin-right: 20px">
            {{ include('activity/_list_form.html.twig') }}
        </div>
        <div style="margin-right: 20px">
            {{ include('forum/_list_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% endblock %}
