{% extends 'base.html.twig' %}

{% block title %}WorkDone index{% endblock %}

{% block body %}
    <h1>WorkDone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WorkFile</th>
                <th>Status</th>
                <th>Score</th>
                <th>UploadedDate</th>
                <th>LastUpdatedDate</th>
                <th>ArchivedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_done in work_dones %}
            <tr>
                <td>{{ work_done.id }}</td>
                <td>{{ work_done.workFile }}</td>
                <td>{{ work_done.status }}</td>
                <td>{{ work_done.score }}</td>
                <td>{{ work_done.uploadedDate ? work_done.uploadedDate|date('Y-m-d') : '' }}</td>
                <td>{{ work_done.lastUpdatedDate ? work_done.lastUpdatedDate|date('Y-m-d') : '' }}</td>
                <td>{{ work_done.archivedDate ? work_done.archivedDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('work_done_show', {'id': work_done.id}) }}">show</a>
                    <a href="{{ path('work_done_edit', {'id': work_done.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('work_done_new') }}">Create new</a>
{% endblock %}
