{% extends 'base.html.twig' %}

{% block title %}Details du travail rendu{% endblock %}
{% block content %}
{% block body %}
    <h1>Details du travail rendu </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Travail</th>
                <td>{{ work_done.workFile }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ work_done.status }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ work_done.score }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('work_done/_edit_form.html.twig') }}

    {{ include('work_done/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}

