{% extends 'base.html.twig' %}

{% block title %}CoStudying{% endblock %}
{% block content %}
{% block body %}
    <br>
    <a class="btn btn-primary" href="{{ path('co_studying_index') }}">Retourner</a>
    <h1>Un contenu de l'espace Co-Studying</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Description</th>
                <td>{{ co_studying.description }}</td>
            </tr>
            <tr>
                <th>Nom de fichier</th>
                <td>{{ co_studying.file }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ co_studying.type }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ co_studying.niveau }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ co_studying.rating }}</td>
            </tr>
            <tr>
                <th>Date de Création</th>
                <td>{{ co_studying.createdDate ? co_studying.createdDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de dernière mise à jour</th>
                <td>{{ co_studying.lastUpdatedDate ? co_studying.lastUpdatedDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('co_studying/_delete_form.html.twig') }}
    <br>
    <br>
    <style>
        .btn {
            display: inline-block;
            padding: 3px 14px;
            cursor: pointer;
            border-radius: 300px;
            background-color: #ADADAD;
            font-size: 16px;
            font-weight: bold;
            color: black;
        }
    </style>


{% endblock %}
{% endblock %}