{% extends 'base.html.twig' %}


{% block title %}Complaint index{% endblock %}
{% block content %}
{% block body %}
    {% for message in app.flashes ('success') %}
    <div class ="alert alert-success">

    {{ message }}
    </div>
    {% endfor %}


    <h1>Réclamation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Object</th>
                <th>Description</th>
                <th>Status</th>
                <th>CreatedDate</th>
{#                <th>CreatedBy</th>#}
{#                <th>ArchivedDate</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for complaint in complaints %}
            <tr>
                <td>{{ complaint.id }}</td>
                <td>{{ complaint.object }}</td>
                <td>{{ complaint.description }}</td>
                <td>{{ complaint.status }}</td>

                <td>{{ complaint.createdDate ? complaint.createdDate|date('Y-m-d') : '' }}</td>
{#                 <td><a href="{{ path('user_show', {'id': complaint.createdBy}) }}">{{ complaint.createdBy.sabrine}}</a></td>#}

                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('complaint_show', {'id': complaint.id}) }}">Afficher</a>
                    <a class="btn btn-info btn-sm" href="{{ path('complaint_edit', {'id': complaint.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger btn-sm" href="{{ path('complaint_new') }}">Ajouter une réclamation</a>
    <a  class="btn btn-success btn-sm" href="{{ path('stats') }}">Statistiques</a>

{% endblock %}
{% endblock %}

