{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block content %}
{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Cin</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>BirthDate</th>
{#                <th>CreatedDate</th>#}
{#                <th>LastUpdatedDate</th>#}
{#                <th>ArchivedDate</th>#}
{#                <th>Classe</th>#}
{#                <th>Password</th>#}
{#                <th>Status</th>#}
{#                <th>Subjects</th>#}
{#                <th>Nbasbsece</th>#}
{#                <th>MailParent</th>#}
{#                <th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.createdDate ? user.createdDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.lastUpdatedDate ? user.lastUpdatedDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.archivedDate ? user.archivedDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.classe }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.subjects }}</td>
                <td>{{ user.nbasbsece }}</td>
                <td>{{ user.mailParent }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Afficher</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Ajouter un utilisateur</a>
{% endblock %}
{% endblock %}
