{% extends 'base.html.twig' %}

{% block title %}Liste forums{% endblock %}
{% block content %}
{% block body %}
    <br>
    <h1>Liste des forums</h1>
<br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Statut</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.subject }}</td>
                <td>{{ forum.status }}</td>
                <td>
                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                        <a style="color: white" href="{{ path('forum_show', {'id': forum.id}) }}">Details</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                        <a style="color: white" href="{{ path('forum_edit', {'id': forum.id}) }}">Modifier</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                        <a style="color: white" href="{{ path('comment_index', {'idForum': forum.id}) }}">Liste des commentaires</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                        <a style="color: white" href="{{ path('comment_new', {'idForum': forum.id}) }}">Ajouter un commentaire</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucun forum</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div  style="display: flex; width: 100%;justify-content: center">
    <div style="margin-right: 20px">
    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
        <a style="color: white" href="{{ path('forum_new') }}">Ajouter un nouveau forum</a>
    </button>
    </div>
    <div style="margin-right: 20px">
        {{ include('activity/_list_form.html.twig') }}
    </div>
</div>
{% endblock %}
{% endblock %}
