{% extends 'base_front.html.twig' %}

{% block title %}Liste forums{% endblock %}
{% block content %}
    {% block body %}
        <h1>Liste des forums</h1>
        <h5 style="float: right">Nombre des forums disponibles : <b>{{ nbr }}</b></h5>
        <section class="probootstrap-section">
            <div class="container">

                <div class="row">
                    {% for forum in forums %}
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                        <a href="#" class="probootstrap-featured-news-box">
                            <figure class="probootstrap-media"><img src="/dist/img/img_sm_1.png" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                            <div class="probootstrap-text">
                                <b>Sujet : </b>{{ forum.subject }}<br>
                                <i class="icon-calendar"></i>{{ forum.createdDate ? forum.createdDate|date('Y-m-d') : '' }}
                                <div style="padding-top: 2%">
                                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                                        <a style="color: white" href="{{ path('comment_indexUser', {'idForum': forum.id}) }}">Liste des commentaires</a>
                                    </button>
                                </div>
                                <br>
                                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                                        <a style="color: white" href="{{ path('comment_newUser', {'idForum': forum.id}) }}">Ajouter un commentaire</a>
                                    </button>
                            </div>
                        </a>
                    </div>
                    {% else %}aucun forum
                    {% endfor %}
                    <div class="clearfix visible-sm-block visible-xs-block"></div>

                </div>
            </div>
        </section>
{#
        <input type="text" id="search" name="search" class="form-control" placeholder="Chercher un forum disponible">
        <br>
        <table class="table table-striped" id="tabfr">
            <thead>
            <tr>
                <th>Sujet</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ forum.subject }}</td>
                    <td style="float: right">
                        <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                            <a style="color: white" href="{{ path('comment_indexUser', {'idForum': forum.id}) }}">Liste des commentaires</a>
                        </button>
                        <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                            <a style="color: white" href="{{ path('comment_new', {'idForum': forum.id}) }}">Ajouter un commentaire</a>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">aucun forum</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#search').keyup(function(){
                    search_table($(this).val());
                });
                function search_table(value){
                    $('#tabfr tbody tr').each(function(){
                        var found = 'false';
                        $(this).each(function(){
                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                            {
                                found = 'true';
                            }
                        });
                        if(found === 'true')
                        {
                            $(this).show();

                        }
                        else
                        {
                            $(this).hide();

                        }
                    });
                }
            });
        </script>
#}
            <div  style="display: flex; width: 100%;justify-content: center">
                <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                    <a style="color: white" href="{{ path('activity_indexUser')}}">Liste des activités disponible</a>
                </button>
            </div>
    {% endblock %}
{% endblock %}