{% extends 'base.html.twig' %}

{% block title %}Liste forums{% endblock %}
{% block content %}
{% block body %}
    <br>
    <h1>Liste des forums</h1>
    <br><br>
    <h5 style="float: right">Nombre des forums disponibles : <b>{{ nbr }}</b></h5><br><br>
    <input type="text" id="search" name="search" class="form-control" placeholder="Chercher un forum disponible">
    <table class="table table-striped" id="tabfr">
        <thead>
            <tr>
                <th>Sujet</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.subject }}</td>
                <td>
                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                        <a style="color: white" href="{{ path('forum_show', {'id': forum.id}) }}">Details</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                        <a style="color: white" href="{{ path('forum_edit', {'id': forum.id}) }}">Modifier</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                        <a style="color: white" href="{{ path('comment_index', {'idForum': forum.id}) }}">Liste des commentaires</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
                        <a style="color: white" href="{{ path('comment_new', {'idForum': forum.id}) }}">Ajouter un commentaire</a>
                    </button>
                </td>
                <td>
                    {{ include('forum/_archive_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucun forum</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tabfr tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found === 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>
<div  style="display: flex; width: 100%;justify-content: center">
    <div style="margin-right: 20px">
    <button class="btn btn-primary" style="background-color: #1aa179;border-color: #1aa179">
        <a style="color: white" href="{{ path('forum_new') }}">Ajouter un nouveau forum</a>
    </button>
    </div>
    <div style="margin-right: 20px">
        {{ include('forum/_archivedList_form.html.twig') }}
    </div>
    <div style="margin-right: 20px">
        {{ include('activity/_list_form.html.twig') }}
    </div>
</div>
{% endblock %}
{% endblock %}
