{% extends 'base_front.html.twig' %}

{% block title %}Liste forums{% endblock %}
{% block content %}
{% block body %}
    <h1>Liste des forums</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Statut</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.subject }}</td>
                <td>{{ forum.status }}</td>
                <td>
                    <a href="{{ path('forum_show', {'id': forum.id}) }}">Details</a>
                </td>
                <td>
                    <a href="{{ path('forum_edit', {'id': forum.id}) }}">Modifier</a>
                </td>
                <td>
                    <a href="{{ path('comment_new', {'idForum': forum.id}) }}">Ajouter un commentaire</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucun forum</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('forum_new') }}">Ajouter un nouveau forum</a>
{% endblock %}
{% endblock %}
